
@{
    ViewBag.Title = "Add Movies";
}

<h2>@ViewBag.Title</h2>

<p style="color:#ff00dc;">
    @ViewBag.Message
</p>

<form action="~/Movies/Add" method="post">
    @*get yazınca url'de girdiğin veriler geliyor. gizlemek için get yerine post yaptık.*@
    <div class="form-group">
        <label for="tbName">Name</label>
        <input type="text" class="form-control" id="tbName" name="Name" />  @*labela tıkladığında textboxa geçmesi için for ve id kullanıyoruz isimleri aynı olacak.*@
    </div>

    <div class="form-group">
        <label for="ddlProductionYear">Production Year</label>
        <select id="ddlProductionYear" name="ProductionYear" class="form-control">
            @*dropdown list yaptık*@
            @for (int i = DateTime.Now.Year; i >= 1900; i--)
            {
                <option value="@i">@i</option>
            }
            @*<option value="2020" selected>2020</option>
                <option value="2019">2019</option>*@
        </select>
    </div>

    <div class="form-group">
        <label for="tbBoxOfficeReturn">Box Office Return</label>
        <input type="text" class="form-control" id="tbBoxOfficeReturn" name="BoxOfficeReturn" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    &nbsp;
    <button type="reset" class="btn btn-info">Clear</button>
</form>

